<%- include("../../partials/head") %>
<%- include("../../partials/navBarAdmin") %>
<div class="container">
    <div class="publicar-container">
        <div class="publicar-area criar-assunto-area">
            <label for="nome">Editar nome do assunto:</label>
            <input type="text" name="nome" id="nome" value="<%= assunto.nome %>" placeholder="Nome do assunto" autocomplete="off" autofocus required>
            <label for="icone">Editar ícone:</label>
            <input type="text" name="icone" id="icone" value="<%= assunto.icone %>" autocomplete="off" placeholder="Digite o código do ícone da logo" required>
            <input type="hidden" name="id" id="id" autocomplete="off" value="<%= assunto.id %>">
            <button onclick="editar()">Editar</button>
        </div>
    </div>
</div>
<%- include("../../partials/footer") %>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script>
    async function editar() {
        
        let id = document.getElementById("id").value
        let nome = document.getElementById("nome").value
        let icone = document.getElementById("icone").value
    
        let assunto = {id: id, nome: nome, icone: icone}
        
        axios.put("/assunto", assunto)
        window.location.href = '/adm/assuntos'
    }
</script>