<%- include("../../partials/head") %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<%- include("../../partials/navBarAdmin") %>

<div class="container">
    <hr>
    <h2 class="text-dark">Assuntos</h2>
    <a href="/adm/novo-assunto" class="btn btn-success">Criar novo assunto</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-dark">Id</th>
                <th class="text-dark">Nome</th>
                <th class="text-dark">Slug</th>
                <th class="text-dark">Ações</th>
            </tr>
        </thead>
        <tbody>
            <% assuntos.forEach(assunto => { %>
                <tr>
                    <td class="text-dark"><%= assunto.id %></td>
                    <td class="text-dark"><%= assunto.nome %></td>
                    <td class="text-dark"><%= assunto.slug %></td>
                    <td>
                        <a href="/adm/assunto/editar/<%= assunto.id %>" class="btn btn-warning">Editar</a>

                        <div style="display: inline;">
                            <input type="hidden" name="id" id="id" value="<%= assunto.id %>">
                            <button class="botao-apagar" onclick="confirmarDelecao()">Deletar</button>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include("../../partials/footer") %>
<script>
    function confirmarDelecao() {
        let decision = confirm("Deletar assunto?")
    
        if(decision){
            let id = event.target.previousElementSibling.value
            
            axios.delete("/assunto/"+id)
            window.location.reload(true)
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>