<%- include("../partials/head") %>
<body>
    <%- include("../partials/navBarAdmin") %>
    <div class="assuntos-bar">
        <div class="assuntos-arrows assuntos-arrow-left" id="setaEsquerda">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="assuntos-bar-area">
            <a href="/adm/novo-assunto">
                <div class="assunto">
                    <i class="fa-solid fa-plus"></i>
                    <span>Adicionar</span>
                </div>                
            </a>
            <% assuntos.forEach(assunto => { %>
                <a href="/assunto/<%= assunto.slug %>">
                    <div class="assunto">
                        <i class="<%= assunto.icone %>"></i>
                        <span><%= assunto.nome %></span>
                    </div>                
                </a>
            <% }) %>
        </div>
        <div class="assuntos-arrows assuntos-arrow-right" id="setaDireita">
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="container">
        <div class="assuntos-page-titulo-area">
            <h2 class="assunto-page-titulo"><%= assunto %></h2>
            <div class="assunto-page-titulo-bar"></div>
        </div>
        <div class="apontamentos">
            <% apontamentos.forEach(apontamento => { %>
                <div class="apontamento">
                    <a href="/apontamento/<%= apontamento.id %>/<%= apontamento.slug %>">
                        <img src="<%= apontamento.miniatura %>" class="apontamento-miniatura">
                    </a>
                    <span class="apontamento-titulo">
                        <a href="/apontamento/<%= apontamento.id %>/<%= apontamento.slug %>">
                            <%= apontamento.titulo %>
                        </a>
                    </span>
                </div>
            <% }) %>
        </div>
    </div>

<%- include("../partials/footer") %>